body {
	/*background-color: var(--color-0);*/
	color: var(--color-1);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', 
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, 
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	margin: 0px;
}
h1, h2, h3, h4, ul, p, blockquote, dd {
	margin: 0px;
}
ul {
	padding: 0px;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
	display: block;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 